
# Claude Code configuration
# Dist folder
# Log files
# NPM cache
# Node.js dependencies
# Process IDs
# REPL history
*.log
*.pid
*.pid.lock
*.seed
.claude
.idea
.node_repl_history
.npm/
.scratch/
builds/
dist/
dist/
logs/
node_modules/
node_modules/
npm-debug.log*
package-lock.json
pids/
styles/
